<h2>Sign up Today!</h2>

<form action="/sign-up" method="post">
<label for="username">Username:</label>
<input type="text" name="username" id="username" required>
<br>
<label for="password">Password:</label>
<input type="password" name="password" id="password" required>
<br>
<button type="submit">Sign up</button>
</form>